.searchBar__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
}

.search-input {
  height: 30px;
  width: 100%;
  font-family: var(--font-stack);
  font-size: 20px;
  padding: 0.2rem;
  transition: background-color 0.6s ease;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  outline: none !important;
}

.search-input:focus {
  background-color: var(--light-grey);
  border: 1px solid var(--light-grey);
  outline: none !important;
}

.search__subContainer {
  position: relative;
  width: 100%;
}

.search-input__container {
  position: relative;
}

.icon {
  position: absolute;
  right: 5px;
  top: 2px;
  height: 32px;
}

.icon :hover {
  color: blue;
  cursor: pointer;
  height: 40px;
  padding: 10px;
  display: block;
}

.searchResults-content__container {
  text-align: center;
}
