.searchResults__container {
  text-align: center;
}

.results__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  justify-content: center;
}

.results__subContainer {
  text-align: left;
  padding: 0rem 0.3rem;
}

.results__subContainer p {
  font-size: 1.4rem;
}

#wiki-view {
  font-size: 1.2rem;
}

#wiki-description {
  font-size: 1.6rem;
}

.results-title {
  text-align: center;
}

.results-video__container {
  display: flex;
  text-align: start;
  padding: 0.2rem 0.4rem;
  transition: all 0.3s ease-in-out;
}

.results-video__container:hover {
  background-color: var(--light-grey);
  border-radius: 4px;
  cursor: pointer;
}

#vid-title {
  margin: 0.1rem 0.3rem;
  font-size: 1.6rem;
}

#vid-channel {
  margin: 0rem 0.3rem;
  color: rgb(125, 125, 125);
  font-size: 1.4;
}

#vid-description {
  margin: 0.1rem 0.3rem;
  color: rgb(171, 171, 171);
  font-size: 1.2;
}

.results-video__subContainer {
  margin-bottom: 1rem;
}

.arrowLeft {
  height: 20px;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .results__container {
    grid-template-columns: 1fr;
  }
}
